.dock{
  display: flex;
  gap: 0.75rem;
  position: absolute;
  bottom: 1rem;
  left:50% ;
  transform: translatex(-50%);
  background-color: rgb(63, 63, 63, 0.395);
  padding-inline: 1rem;
  padding-block:0.75rem ;
  border-radius: 0.75rem;

  backdrop-filter: blur(5px);




  .icon{
  padding: 0.65rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1/1;
  width: 3.75rem;

  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) ;

  }
 


  .github {
    background-color: black;
    height: 50px;
  }

  .note {
    background:linear-gradient(to bottom, #ed7825, #e07843ed);
    height: 50px;
    width: 50px;
  }
  .pdf {
    background: linear-gradient(to bottom, red, rgba(240, 89, 89, 0.968));
    height: 50px;
    width: 50px;
  }
  .calender {
    background: linear-gradient(to bottom, #3b1dfa, #2c68cfe9);
    height: 50px;
    width: 50px;
  }
  .spotify {
    background: linear-gradient(to bottom, #5dc782, #1aa34a);
    height: 50px;
    width: 50px;
  }
  .mail {
    background: linear-gradient(to bottom, #3e2ee8, #453fb4);
    height: 50px;
    width: 50px;
  }
  .link {
    background: linear-gradient(to bottom, #f01b66, #d14785f7);
    height: 50px;
    width: 50px;
  }
  .cli {
    background: linear-gradient(to bottom, #131111, #352c2cf0);
    height: 50px;
    width: 50px;
  }

  .icon:hover{
   transform: scale(1.25) translateY(-20%) ;
  
  }

  .icon:hover + .icon,
    .icon:has(+ .icon:hover){
      transform: scale(1.1) translateY(-10%);
    }


}

