nav{
  width: 100%;
  color: white;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  background-color: #f0f0f019;
  backdrop-filter: blur(5px);

     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  display: flex;
  justify-content: space-between;

 

  .nav-item p{
  transition: width 0.3s ease;

  }
  

  .left, .right{
    display: flex;
    gap: 1rem;
    
    .nav-item p:hover{
      cursor: pointer;
      opacity: 0.8;
      scale: 0.90;
       letter-spacing: 0.5px;
      
     
      

    }

  }





}