.cli-window {
  height: 100%;
  overflow: auto;
  padding-bottom: 10rem;
  background-color: rgba(74, 71, 71, 0.111);

  div[name="react-console-emulator"] {
    height: 100%;
    background-color: transparent !important;
  }
}
