.window {

    background-color: #4845456d;
    backdrop-filter: blur(175px);
    border-radius: 0.75rem;
    overflow: hidden;
    height: 100%;
    color: rgba(251, 248, 248, 0.836);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: 1px solid rgba(202, 198, 198, 0.145);

   




    .nav {

        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.24);

        display: flex;
        align-items: center;

        gap: 1.5rem;

       
        

        

        .dots {
            display: flex;
            gap: 0.25rem;

            .dot {
                height: 15px;
                width: 15px;
                background-color: white;

                border-radius: 50%;
            }

            .red {
                background-color: #eb3535;
                cursor: default;
            }

            .yellow {
                background-color: rgb(247, 247, 81);
            }

            .green {
                background-color: rgb(27, 228, 0);
            }
        }



    }

    .main-content {
        height: 100%;
        
    }

    *::-webkit-scrollbar{
        width: 8px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: rgba(150, 150, 150, 0.595);
        border-radius: 4px;
    }

}