*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body, #root {
  height: 100%;
  width: 100%;

}
main{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(/public/blue-abstract-5120x2880-25119.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
